{% extends "admin/change_list.html" %}
{% block object-tools-items %}
    <li>
        <a href="start-initial-scrape/" class="addlink">
            Start Initial Scrape
        </a>
    </li>
    <li>
        <a href="test-single-scrape/" class="addlink" style="background: #417690;">
            Test Single Scrape (Debug)
        </a>
    </li>
    <li>
        <a href="trigger-audit-batch/" class="addlink" style="background: #ba2121;">
            Trigger Website Audit (Batch)
        </a>
    </li>
    {{ block.super }}
{% endblock %}
