{% extends "admin/change_list.html" %}

{% block extrastyle %}
{{ block.super }}
<style>
    /* Make filters visible and easy to access on mobile devices */
    @media (max-width: 767px) {
        #changelist {
            display: flex;
            flex-direction: column;
        }
        #changelist-filter {
            order: -1 !important; /* Move the filters to the top */
            width: 100% !important;
            margin-bottom: 20px !important;
            position: relative;
        }
    }
</style>
{% endblock %}
